body {
    text-align: center;
    font-family: "Helvetica";
    background-color: aqua;
}

p {
    color: blueviolet;
    font-family: "tahoma";
    font-size: 40px;
    background-color: black;
}

div {
    color: rgb(243, 85, 11);
    font-size: 20px;
}